* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}